@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	padding: 5px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

/*content*/
section, iframe {
	width: 100%;
	height: 200%;
	border: none;
	overflow: hidden;
	font-size: 12px;
}
.info {
	border-style: solid;
	border-width: 2px;
	border-color: lightgrey;
	border-radius: 4px;
	padding: 8px;
}
.row {
	width: 100%;
	padding: 1px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
.btn {
	display: block;
	cursor: pointer;
	background-color: royalblue;
	color: white;
	padding: 4px;
	margin: 3px;
	border-radius: 4px;
}
.resetbtn {
	background-color: white;
	border: red;
	border-width: 2px;
	color: red;
	border-style: solid;
	border-radius: 4px;
	padding: 1px 4px;
}
.class-logo {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	margin: 1px;
}
img.dull {
	filter: brightness(50%);
}
.star {
	color: #F2EC3B;
	text-shadow: 0px 0px 1px #000000;
	font-size: 110%;
}
label, .label {
	display: inline-block;
	background-color: gray;
	color: white;
	padding: 1px 4px;
	border-radius: 4px;
}
select {
	width: 80px;
	border-radius: 4px;
	padding: 1px 4px;
	background-color: white;
}
select.narrow {
	width: 80px;
}
input {
	width: 80px;
	border-radius: 4px;
	padding: 3px 4px;
}
input[type="checkbox"] {
	width: auto;
}
input.narrow {
	width: 80px;
}
.element-10 {
	float: left;
	width: 10%;
}
.element-15 {
	float: left;
	width: 15%;
}
.element-20 {
	float: left;
	width: 20%;
}
.element-25 {
	float: left;
	width: 25%;
}
.element-30 {
	float: left;
	width: 30%;
}
.element-40 {
	float: left;
	width: 40%;
}
.element-50 {
	float: left;
	width: 50%;
}
.element-75 {
	float: left;
	width: 75%;
}
.element-100 {
	float: left;
	width: 100%;
}			
#enemy-setup {
	background-color: lightgray;
	padding: 4px;
}
#enemy-setup-collapsebtn {
	background-color: lightgray;
	color: white;
}

/*modal*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.3s;
	animation-name: fadeIn;
	animation-duration: 0.3s
}
.modal-container {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.3s;
	animation-name: fadeIn;
	animation-duration: 0.3s
}
.modal-header {
	border-style: solid;
	border-color: lightgray;
	border-width: 2px;
	padding: 5px;
	border-radius: 5px;
}
#servant-enemy-modal-box {
	background-color: #fefefe;
	margin: auto;
	padding: 5px;
	width: 80%;
	height: 1200px;
}
.servant-enemy-class {
	cursor: pointer;
}
.closebtn {
	color: #aaaaaa;
	float: right;
	font-size: 24px;
	font-weight: bold;
}
.closebtn:hover, .closebtn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/*responsive layout*/
@media screen and (min-width: 660px) {
	nav a:hover {background-color: #282828; color: white;}
	#to_top:hover {background-color: #5D5D5D; color: white;}
}
@media screen and (max-width: 660px) {
	header {font-size: 2vw;}
	nav a, nav a.right {float: none; width: 100%;}
	.element-10, .element-15, .element-20, .element-25, .element-30, .element-40, .element-50, .element-75 {float: none; width: 50%;}
}
