@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
	box-sizing: border-box;
}
header {
	background-color: #f1f1f1;
	padding: 2px;
	height: 90px;
}
body {
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 300;
}
footer {			
	background-color: #5D5D5D;
	padding: 10px 10px;
	text-align: left;
	color: white;
}

/* Navigation Box */
nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #5D5D5D;
	border: none;
	flex-wrap: nowrap;
	white-space: nowrap;
	display: flex;
}
.menu-button {
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	padding: 5px 10px;
	line-height: 2;
	cursor: pointer;
	display: block;
}
.menu-button:active {
	background-color: white;
	color: #5D5D5D;
}
nav .active {
	background-color: white;
	color: #5D5D5D;
}
nav .right {
	display: flex;
}

/* Save Managing Area */
#save-container {
	background-color: #e1e1e1;
	border: 2px dashed #8c8c8c;
	width: 99.6%;
	margin: 15px 2px;
	padding: 10px 1px;
	justify-content: center;
	color: black;
}
.save-label {
	font-weight: 500;
	font-size: 13px;
	margin-right: 10px;
}
#inventory-save, #save-title {
	height: 25px;
	width: 200px;
}
.save-element {
	margin: 5px 10px;
	white-space: nowrap;
	wrap: nowrap;
}
#create-save, #clear-save {
	color: white;
	font-size: 13px;
	border-radius: 8px;
	border: 2px solid white;
	padding: 2px 40px;
	margin: 0 5px;
}
#create-save {
	background-color: #36bee9;
}
#create-save:hover {
	background-color: #009ce3;
}
#clear-save {
	background: #ff5c5c;
}
#clear-save:hover {
	background-color: red;
}

/* Return to Top Button */
#to_top {
	position: fixed;
	z-index: 99;
	right: 0;
	bottom: 40px;
	display: none;
	background-color: #A7A7A7;
	text-align: center;
	font-size: 14px;
	color: white;
	text-decoration: none;
	padding: 5px;
	cursor: pointer;
}
#to_top:active {
	background-color: white;
	color: #5D5D5D;
}

/* Content Structure */
section, iframe {
	width: 100%;
	min-width: 100%;
	border: none;
	overflow: hidden;
	font-size: 12px;
}
.info {
	border: 2px solid lightgrey;
	border-radius: 4px;
	padding: 8px;
}
.setup {
	background-color: #f1f1f1;
	padding: 4px;
	border: 1px solid lightgray;
}
#enemy1, #enemy2, #enemy3 {
	display: none;
}
.enemy-detail {
	border-left: 8px solid;
	padding: 2px 4px;
}
#enemy1-detail {
	border-left-color: orange;
}
#enemy2-detail {
	border-left-color: royalblue;
}
#enemy3-detail {
	border-left-color: #d20000;
}
.servant-skill-detail, .master-skill-detail, .teammate-skill-detail {
	width: 30%;
	border: 1px solid darkgray;
	padding: 2px;
	margin: 5px;
	background-color: white;
}
.teammate-np-detail {
	flex-grow: 14;
}
.teammate-ce-detail {
	flex-grow: 6;
	border: 1px solid darkgray;
	padding: 2px;
	margin: 5px;
	background-color: lightyellow;
}
.result {
	display: none;
}
.table-container {
	overflow-x: auto;
}
table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
tr:first-child:hover {
	background-color: #0032c8;
}
tr:hover {
	background-color: #f6f6f6;
}
th, td {
	text-align: center;
	padding: 4px 8px;
	white-space: nowrap;
}
th {
	background-color: #0032c8;
	color: white;
	border: 1px solid;
	height: 30px;
}
#master-inventory td > div {
	width: 300px;
	white-space: normal;
}
#ce-inventory td > div {
	width: 500px;
	white-space: normal;
}
.enemy-table th:last-child {
	width: 30px;
}
td {
	border-bottom: 1px solid #ddd;
}
.row {
	width: 100%;
	padding: 1px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.column {
	padding: 1px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.column-row {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 10px 0;
}
.column-element {
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}
.flex {
	display: flex;
	align-items: center;
}
.fixed {
	wrap: nowrap;
}
.stretch {
	align-items: stretch;
}
.center {
	justify-content: center;
}
.justify-even {
	justify-content: space-evenly;
}
.justify-between {
	justify-content: space-between;
}
.left {
	float: left;
}
.right {
	float: right;
	margin-left: auto;
}
.inner {
	margin-bottom: 10px;
}
.innerborder {
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.under {
	margin-top: 10px;
}
.innerwide {
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.element-5 {
	flex-grow: 1;
}
.element-10 {
	flex-grow: 2;
}
.element-15 {
	flex-grow: 3;
}
.element-20 {
	flex-grow: 4;
}
.element-25 {
	flex-grow: 5;
}
.element-30 {
	flex-grow: 6;
}
.element-40 {
	flex-grow: 8;
}
.element-50 {
	flex-grow: 10;
}
.element-60 {
	flex-grow: 12;
}
.element-75 {
	flex-grow: 15;
}
.listlbl {
	width: 10%;
}
.list {
	width: 90%;
	flex-wrap: wrap;
}
.listend {
	margin-right: 10%;
}
.counter {
	display: none;
}


/* Element */
.list label {
	margin: 1px 10px 2px 5px;
}
span.label {
	margin-right: 6px;
}
.indent-4 {
	padding-left: 4px;
}
.narrow-right {
	margin-right: 10px;
}
.space-left {
	margin-left: 20px;
}
span.space-right-wide, .space-right-wide {
	margin-right: 30px;
}
.bold {
	font-weight: bold;
}
.Buster {
	color: Red;
}
.Art {
	color: Blue;
}
.Quick {
	color: Green;
}
.weak {
	color: Red;
}
.resist {
	color: Blue;
}


/* User Interface */
.btn {
	cursor: pointer;
	padding: 0px 10px;
	margin: 0px 3px;
	border: 1px solid;
	border-radius: 4px;
	font-weight: 500;
}
.resetbtn, .deletebtn {
	background-color: white;
	color: red;
	border-color: red;
}
.deletebtn {
	font-weight: 1000;
	padding: 0 3px;
}
.resetbtn:hover, .deletebtn:hover {
	background-color: red;
	color: white;
}
.setbtn, .actionbtn {
	background-color: white;
	color: blue;
	border-color: blue;
}
.setbtn:hover, .actionbtn:hover {
	background-color: blue;
	color: white;
}
.filterbtn {
	background-color: white;
	color: black;
	border-color: black;
	padding: 1px 35px;
	margin-bottom: 5px;
}
.filterbtn:hover {
	background-color: black;
	color: white;
}
.enemy-applybtn {
	background-color: white;
	color: black;
	padding: 1px 20px;
	margin: 0px 5px;
}
.enemy-applybtn:hover {
	background-color: black;
	color: white;
}
.modalbtn, .extendbtn {
	background-color: #48a948;
	color: white;
}
.modalbtn:hover, .extendbtn:hover {
	background-color: green;
	border-color: green;
}
.extendbtn {
	font-weight: 1000;
	padding: 4px 10px;
}
.collapsebtn {
	background-color: #f1f1f1;
	color: #777;
	font-size: 10px;
	font-weight: 200;
	border-radius: 0px 0px 4px 4px;
	border: 1px solid lightgray;
	border-top: none;
	padding: 0px 8px;
	margin-top: 4px;
}
.calcbtn {
	font-size: 14px;
	font-weight: 500;
	background-color: black;
	color: white;
	border: none;
	padding: 5px 100px;
}
.calcbtn:hover {
	background-color: #02bed0;
}
.result-delbtn {
	font-weight: 500;
	color: #b8b8b8;
	cursor: pointer;
}
.result-delbtn:hover {
	color: red;
	font-weight: 1000;
}
.label, .labeltag, .infotag {
	display: inline-block;
	white-space: nowrap;
	font-weight: 500;
	padding: 0px 10px;
	cursor: context-menu;
}
.label, .labeltag {
	margin: 10px 2px 10px 5px;
}
.labeltag {
	background-color: #d2d2d2;
	color: #464646;
	border: 2px solid #606060;
}
.infotag {
	background-color: #f1f1f1;
	color: #444;
	border: 2px solid #a4a4a4;
	margin: 10px;
}
.highlight {
	background: #ffffb4;
}
.alarm {
	background: #ffb4b4
}
#enemy1-tag {
	border-color: orange;
	background: #ffeece;
}
#enemy2-tag {
	border-color: royalblue;
	background-color: #d3deff;
}
#enemy3-tag {
	border-color: #d20000;
	background-color: #ffe1e1;
}
.label-simple {
	margin-left: 5px;
}
select, option, input {
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 300;
}
select {
	width: 70px;
}
select.broad {
	width: 140px;
}
select.wide {
	width: 100px;
}
select.narrow {
	width: 60px;
}
select.slim {
	width: 50px;
}
select.tight {
	width: 40px;
}
input {
	width: 80px;
	padding: 0 0 0 4px;
}
input.narrow {
	width: 60px;
}
.checkbox {
	display: block;
	position: relative;
	margin-left: 5px;
	padding: 2px 0 0 21px;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.checkbox input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 5px;
	left: 3px;
	height: 13px;
	width: 13px;
	background-color: white;
	border: 1px solid;
	border-radius: 2px;
}
.checkbox:disabled input ~ .checkmark {
	background-color: #c8c8c8;
	border: none;
}
.checkbox:hover input ~ .checkmark {
	background-color: #efefef;
	border-color: #54B2FF;
}
.checkbox input:checked ~ .checkmark {
	background-color: #54B2FF;
	border-color: #54B2FF;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkbox input:checked ~ .checkmark:after {
	display: block;
}
.checkbox .checkmark:after {
	left: 4px;
	top: 1px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
}
.radiobox {
	display: block;
	position: relative;
	margin-left: 5px;
	padding: 2px 0 0 21px;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.radiobox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.radiomark {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 13px;
	width: 13px;
	background-color: white;
	border: 1px solid;
	border-radius: 50%;
}
.radiobox:disabled input ~ .radiomark {
	background-color: #c8c8c8;
	border: none;
}
.radiobox:hover input ~ .radiomark {
	background-color: #efefef;
	border-color: #54B2FF;
}
.radiobox input:checked ~ .radiomark {
	background-color: #54B2FF;
	border-color: #54B2FF;
}
.radiomark:after {
	content: "";
	position: absolute;
	display: none;
}
.radiobox input:checked ~ .radiomark:after {
	display: block;
}
.radiobox .radiomark:after {
 	top: 3px;
	left: 3px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
}
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
	border-radius: 16px;
	margin: 2px 0px 2px 4px;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #8e8e8e;
	border-radius: 16px;
	-webkit-transition: .3s;
	transition: .3s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s;
}
input:disabled + .slider::before {
	background-color: #bebebe;
}
input:checked + .slider {
	background-color: #54B2FF;
}
input:checked:disabled + .slider {
	background-color: #207FCB;
}
input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}


/* Image & Logo */
#header-logo {
	width: 70px;
}
.class-logo {
	width: 30px;
	vertical-align: middle;
	margin: 1px;
}
.class-logo-small {
	width: 25px;
}
.debuff-logo {
	width: 14px;
	margin-right: 2px;
}
.battlefield-logo {
	width: 20px;
	margin-right: 2px;
}
.dull {
	filter: brightness(50%);
}
.star {
	color: #F2EC3B;
	text-shadow: 0px 0px 1px #000000;
	font-size: 110%;
}
.profile-img, .ce-profile-img, .teammate-img, .teammate-ce-img {
	width: 60px;
	margin: 4px 20px 4px 4px;
	background-color: white;
	border: 1px solid lightgray;
}
.skill-img {
	width: 40px;
}
.master-img {
	width: 100px;
}


/* Inventory */
.inventory-header {
	border: 1px solid black;
	border-radius: 5px;
	margin: 4px;
}
.inventory-filter-header {
	background-color: #ffca4a;
	color: white;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 0;
	margin-bottom: 10px;
}


/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.3s;
	animation-name: fadeIn;
	animation-duration: 0.3s;
}
#servant-enemy-modal, #common-enemy-modal {
	padding-top: 40px;
}
.modal-box {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: white;
	margin: auto;
	padding: 5px;
	width: 80%;
	height: 1200px;
}
.modal-header {
	border: 1px solid black;
	border-radius: 5px;
	margin: 4px;
}
.modal-filter-header {
	background-color: #ff4a4a;
	color: white;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 0;
	margin-bottom: 10px;
}
.servant-enemy-class, .servant-class {
	cursor: pointer;
}
.modal-filter-box {
	border: 1px solid #d7d7d7;
	width: 98%;
}
.modal-filter-box-header {
	border: 2px solid #ff4a4a;
}
.modal-filter-box-content {
	display: none;
	padding: 5px 5px 10px 5px;
}
.filter-box-toggle {
	color: #ff4a4a;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
	width: 100%;
	padding-left: 97%;
}
.filter-box-toggle:hover, .filter-box-toggle:focus {
	color: #ffa8a8;
	text-decoration: none;
}
.modal .setbtn {
	margin-left: 10px;
}
servant-enemy-modal-img, .servant-modal-img, .ce-modal-img, .teammate-modal-img, .teammate-ce-modal-img {
	cursor: pointer;
}
servant-enemy-modal-img:hover, .servant-modal-img:hover, .ce-modal-img:hover, .teammate-modal-img:hover, .teammate-ce-modal-img:hover {
	background: #8cc1ff;
	box-shadow: 0px 0px 5px #8cc1ff;
}
.servant-enemy-modal-img {
	width: 60px;
	margin: 4px;
}
.servant-modal-img, .teammate-modal-img {
	width: 60px;
	margin: 4px;
}
.ce-modal-img, .teammate-ce-modal-img {
	width: 60px;
	margin: 4px;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


/* Collapsible */
.collapsible {
	display: none;
}

.teammate-detail {
	display: none;
}

.modal-filter-content {
	display: none;
	padding: 5px;
}


/* Responsive Layout */
@media screen and (max-width: 660px) {
	header {
		font-size: 2vw;
	}
	nav {
		flex-direction: column;
	}
	nav .right {
		width: 100%;
		display: initial;
	}
	.menu-button {
		width: 100%;
	}
	.element-10, .element-15, .element-20, .element-25, .element-30, .element-40, .element-50, .element-75 {
		float: none;
		width: 50%;
	}
}

@media screen and (min-width: 660px) {
	.menu-button:hover {
		background-color: royalblue;
		color: white;
	}
	#to_top:hover {
		background-color: royalblue;
		color: white;
	}
}
