@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 300;
}

/*content structure*/
section, iframe {
	width: 100%;
	min-width: 100%;
	border: none;
	overflow: hidden;
	font-size: 12px;
}
.info {
	border-style: solid;
	border-width: 2px;
	border-color: lightgrey;
	border-radius: 4px;
	padding: 8px;
}
.setup {
	background-color: lightgray;
	padding: 4px;
}
#enemy1, #enemy2, #enemy3 {
	display: none;
}
.detail {
	border-left-style: solid;
	border-left-width: 5px;
	padding: 2px 4px;
}
#enemy1-detail {
	border-left-color: green;
}
#enemy2-detail {
	border-left-color: royal blue;
}
#enemy3-detail {
	border-left-color: maroon;
}
.row {
	width: 100%;
	padding: 1px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.flex {
	display: flex;
	align-items: center;
}
.left {
	float: left;
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
.element-10 {
	float: left;
	width: 10%;
}
.element-15 {
	float: left;
	width: 15%;
}
.element-20 {
	float: left;
	width: 20%;
}
.element-25 {
	float: left;
	width: 25%;
}
.element-30 {
	float: left;
	width: 30%;
}
.element-40 {
	float: left;
	width: 40%;
}
.element-50 {
	float: left;
	width: 50%;
}
.element-75 {
	float: left;
	width: 75%;
}
.element-100 {
	float: left;
	width: 100%;
}
.indent-4 {
	padding-left: 4px
}
.counter {
	display: none;
}

/*user interface*/
label, .label, .btn {
	font-weight: 500;
}
.btn {
	cursor: pointer;
	padding: 1px 4px;
	margin: 3px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
}
.btnright {
	float: right;
	margin-left: auto;
}
.resetbtn {
	background-color: white;
	color: red;
	border-color: red;
}
.resetbtn:hover {
	background-color: red;
	color: white;
}
.setbtn {
	background-color: white;
	color: blue;
	border-color: blue;
}
.setbtn:hover {
	background-color: blue;
	color: white;
}
.applybtn {
	background-color: white;
	color: black;
	border-color: black;
}
.applybtn:hover {
	background-color: black;
	color: white;
}
.modalbtn {
	background-color: mediumseagreen;
	color: white;
}
.modalbtn:hover {
	background-color: darkgreen;
	border-color: darkgreen;
}
.collapsebtn {
	background-color: lightgray;
	border-style: none;
	border-radius: 0px 0px 4px 4px;
	color: gray;
	font-size: 10px;
}
label.label, .label {
	display: inline-block;
	background-color: black;
	color: white;
	border-radius: 4px;
	padding: 1px 4px;
	margin: 0px 2px;
}
select, option, input {
	font-family: "Noto Sans TC", sans-serif;
	font-size: 13px;
	font-weight: 300;
	padding: 0px 4px;
	border-radius: 4px;
}
select {
	width: 70px;
}
select.wide {
	width: 110px;
}
select.narrow {
	width: 60px;
}
select.slim {
	width: 50px;
}
select.tight {
	width: 40px;
}
input {
	width: 80px;
}
input.narrow {
	width: 60px;
}
input[type="checkbox"] {
	width: auto;
}
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
	border-radius: 16px;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #8e8e8e;
	border-radius: 16px;
	-webkit-transition: .3s;
	transition: .3s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

/*image & logo*/
#header-logo {
	width: 70px;
}
.class-logo {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	margin: 1px;
}
.dull {
	filter: brightness(50%);
}
.star {
	color: #F2EC3B;
	text-shadow: 0px 0px 1px #000000;
	font-size: 110%;
}
.profile-img {
	width: 60px;
	margin: 4px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
}

/*modal*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.3s;
	animation-name: fadeIn;
	animation-duration: 0.3s;
}
#servant-enemy-modal, #common-enemy-modal {
	padding-top: 40px;
}
#servant-modal {
	padding-top: 150px;
}
.modal-box {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: white;
	margin: auto;
	padding: 5px;
	width: 80%;
	height: 1200px;
}
.modal-header {
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	padding: 5px;
	border-radius: 5px;
	margin: 4px;
	background-color: lightgray;
}
.servant-enemy-class, .servant-class {
	cursor: pointer;
}
.closebtn {
	color: #aaaaaa;
	font-size: 20px;
	font-weight: bolder;
	margin-left: auto;
}
.closebtn:hover, .closebtn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal .servant-img {
	width: 60px;
	margin: 4px;
	cursor: pointer;
}
.modal .servant-img:hover {
	box-shadow: 0px 0px 5px darkblue;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* Collapsible */
.collapsible {
	display: none;
}

/*responsive layout*/
@media screen and (max-width: 660px) {
	.element-10, .element-15, .element-20, .element-25, .element-30, .element-40, .element-50, .element-75 {float: none; width: 50%;}
}
